*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

h1, p{
    text-align: center;
}

main{
    width: 60%;
    margin: 0 auto;
    clear: both;
}

section::after{
    content: "";
    display: table;
    clear: both;
}

.card{
    margin: 10px;
    height: 100px;
    width: 300px;
    float: left;
    width: calc(100% / 3 - 20px);
    background-color: red;
}

.pic{
    width: 100px;
    height: 100px;
    background-image: url("../img/male1.png");
    background-size: cover;
}

.info{
    float: left;
    display: inline-block;
}
