*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Fredoka One', cursive;
}

h1, p{
    text-align: center;
}

h1{
    margin: 35px;
    color: rgb(200, 50, 100);
}

main{
    width: 65%;
    margin: 0 auto;
}

p{
    padding: 20px 0px;
    font-size: 17px;
    font-weight: 100;
}

section::after{
    content: "";
    display: table;
    clear: both;
}

.card{
    margin: 10px;
    float: left;
    width: calc(100% / 3 - 20px);
    background-color: rgb(0, 0, 30);
    box-shadow: 0 0 10px black;
}

img{
    width: 100px;
    height: 100px;
    vertical-align: middle;
}

.info{
    color: white;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}

.info *{
    padding: 4px;
}

.name{
    font-weight: bold;
    font-size: 20px;
    font-weight: 100;
}

.rule{
    font-size: 14px;
}

.mail{
    font-size: 12px;
    color: aqua;
    text-decoration: none;
}
